<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="headFragment">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link type="text/css" rel="shortcut icon" href="/favicon/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/css/vendor/all.min.css" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"/>
    <link type="text/css" rel="stylesheet" href="/css/sb-admin-2.css"/>
    <link type="text/css" rel="stylesheet" href="/css/admin.css"/>
    <th:block layout:fragment="css"></th:block>
	<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/vue-2.5.16.js"></script>
	<script type="text/javascript" src="/js/vendor/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/js/sb-admin-2.min.js"></script>
	<script type="text/javascript" src="/js/vendor/Chart.bundle.min.js"></script>
	<script type="text/javascript" src="/js/vendor/Chart.min.js"></script>
	<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
    <th:block layout:fragment="script"></th:block>
</head>

</html>