<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default-layout">
	<th:block layout:fragment="css">
	</th:block>
	<th:block layout:fragment="script">
	</th:block>
	<div layout:fragment="content">
		<form id="blogPostForm">
			<input type="hidden" name="blogPostSeq" th:value="${blogPost.blogPostSeq}" />
			<div class="container-fluid">
				<h1 class="h3 mb-2 text-gray-800">블로그 포스트 관리</h1>
				<p class="mb-4">
					까먹지 않게 전부 기록하자
				</p>
				
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">수정하기</h6>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<!-- 여기다가 제목, 내용(스마트에디터) 받을 것 -->
							<dl>
								<dt>카테고리</dt>
								<dd>
									<select class="blog-category mt-2" id="blogPostCategorySeq" name="postCategory.blogPostCategorySeq">
										<option th:each="category : ${postCategoryList}" 
											th:value="${category.blogPostCategorySeq}" 
											th:text="${category.name}" th:selected="${category.blogPostCategorySeq == blogPost.postCategory.blogPostCategorySeq}">
										</option>
									</select>
								</dd>
								<dt>제목</dt>
								<dd>
									<input type="text" class="form-control mt-2" id="subject" name="subject" th:value="${blogPost.subject}"/>
								</dd>
								<dt>내용</dt>
								<dd>
									<textarea id="contents" name="contents" th:text="${blogPost.contents}"></textarea>
								</dd>
							</dl>
						</div>
					</div>
					<div class="card-header py-3">
						<a href="javascript:;" onclick="editBlogPost();" class="btn btn-success btn-icon-split float-right">
							<span class="icon text-white-50">
								<i class="fas fa-check"></i>
							</span>
							<span class="text">수정 완료</span>
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
	<th:block layout:fragment="bodyScript">
		<script type="text/javascript">
			$(function() {
				pageInit();
				
			});
			
			function pageInit() {
				CKEDITOR.replace("contents",{
					 filebrowserUploadUrl: "/file/upload"
				});
			}
			
			function editBlogPost() {
				var $subject = $('#subject');	//제목 값
				var $contents = $('#contents'); //내용
				var $ckeContents = $('#cke_contents'); // ckeditor 내용
				
				if (!$subject.val()) {
					alert('제목을 입력해 주세요.');
					$subject.focus();
					return false;
				}
				if (CKEDITOR.instances.contents.getData().length < 1) {
					alert('내용을 입력해 주세요.');
					$contents.focus();
					return false;
				}
				
				$contents.html(CKEDITOR.instances.contents.getData());
				
				$.post('/blog/post/edit/proc', $('#blogPostForm').serialize(), function(data) {
					if (!data.success) {
						alert(data.errorMessage);
						return false;
					} 
					
					location.href = '/blog/post/list';
				});
			}
			
		</script>
	</th:block>
</html>